section{
    margin-bottom: 10px;
}
.stats, .bugname{
    font-size: 18pt;
}
.closed {
    color : red;
    text-decoration: line-through;
    font-style: italic;
    font-weight: bold;
}
.bugname{
    cursor : pointer;
}
ol{ 
    width : 450px;
    list-style: none;
    -webkit-padding-start : 0px
}
.datetime{
    font-style: italic;
}
li{
    margin-bottom: 10px;
    border : 1px solid gray;
    padding : 10px;
    border-radius: 5px;
    background-color: #e7e7e7;
}